.mk-header {
    display: inline-flex;
    color: #fff;
    height: 100%;
    background-color: #000;
    width: 100%;
    background: linear-gradient(-50deg,#434343,#151515);
}

a {
    text-decoration: none;
    color: white;
}

.mk-header .container {
    padding: 10px;
    display: inline-flex;
    width: 100%;
    margin-top:0 !important;
}

.mk-header .mk-title {
    flex-grow: 1;
}

.mk-header .mk-name {
    margin-top:12px;
    font-size: 40px;
    font-weight: 400;
}

.mk-header .mk-degree {
    position: relative;
    top: -29px;
    font-size: 16px;
    font-weight: 300;
    text-align: right;
    right: -26px;
}

.mk-title-container {
    width: fit-content;
}

.mk-header .mk-overview {
    width: 285px;
    text-align: right;
    margin: auto 0;
}

.mk-header .thumbnail {
    padding: 0 15px;
    height: 100%;
}

.mk-header img {
    height: 100%;
    border-radius: 200px;
    vertical-align: middle;
}

.thumbnail-outer-border {
    height: 96px;
}

.thumbnail-inner-border {
    height: 92px;
    width: 94px;
    margin-top: 2px;
    margin-left: 2px;
}