.mk-app {
    position: absolute;
    height: 100%;
    width: 100%;
    min-width: 550px;
    display:inline-flex;
}

.mk-container {
    display: grid;
    grid-template-rows: 120px auto;
    flex-grow:1;
}

.mk-content {
    width: 100%;
    overflow: hidden;
    display: flex;
    background-image: linear-gradient(-50deg, rgb(67, 67, 67), rgb(21, 21, 21));
}

.router-container {
    width: 100%;
    display: flex;
    padding-left: 40px;
}

.hideMobile {

}


.full-height {
    height:100%;
}
.border-full {
    border:solid 2px;
}
.border-circular {
    border-radius: 200%;
    border: solid 2px;
}
.border-right {
    border-right: solid 2px;
}
.border-light {
    border-color:white;
}
.border-dark {
    border-color:black;
}

.text-dark {
    color: #343a40 !important;
}


