.category-container {
    display: inline-flex;
    width: 100%;
}

.article-list ul {
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    list-style: none;
    overflow:visible;
    padding-right:3px;
}

.category-route-container {
    width: 100%;
    display: flex;
}

.copyright {
    color: white;
    text-align: right;
    margin: 0 18px 20px 30px;
    font-size: 12px;
}