.category-container {
    display: inline-flex;
    width: 100%;
}

.article-list ul {
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    list-style: none;
    overflow:visible;
    padding-right:3px;
}

.category-route-container {
    width: 100%;
    display: flex;
}

@media (min-width: 1650px) {
    .article-list {
        width: 600px;
        min-width: 600px !important;
        max-width: 600px !important;
    }
}

@media (max-width: 1650px) {
    .article-list {
        width: 550px;
        min-width: 550px !important;
        max-width: 550px !important;
    }
}

@media (max-width: 1400px) {
    .article-list {
        width: 500px;
        min-width: 500px !important;
        max-width: 500px !important;
    }
}

@media (max-width: 1200px) {
    .article-list {
        width: 350px;
        min-width: 350px !important;
        max-width: 350px !important;
    }
}

@media (max-width: 950px) {
    .article-list {
        height: 100% !important;
        min-height: 100% !important;
        overflow-y: visible !important;
    }

    /* mobile user viewing an article */
    .category-route-container.view-list .article {
        display:none !important;
    }
    .category-route-container.view-list .article-list {
        min-width: 100% !important;
    }

    /* mobile user viewing article list */
    .category-route-container.view-article .article {
        margin-left:15px !important;
    }
    .category-route-container.view-article .article-list {
        display: none !important;
    }
}

.copyright {
    color: white;
    text-align: right;
    margin: 0 18px 20px 30px;
    font-size: 12px;
}