.contact-container {
    text-align: center;
    z-index: 1;
    position: fixed;
    bottom: 20px;
    right: 15px;
    font-size: 30px;
    width: 48px;
}

.contactLink {
    font-size: 27px;
    cursor: pointer;
}

.socialLink {
    font-size:30px;
}

@media (max-width: 950px) {
    .contact-container {
        position: relative;
        width:100%;
    }

    .contactLink {
        padding: 0 7px;
    }
}